<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../resources/css/base.css">
    <link rel="stylesheet" href="../../resources/libs/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/common.css">

    <script src="../../resources/js/jquery-3.2.1.js"></script>
    <script src="../../resources/js/echarts.js"></script>
    <!--<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>-->

    <script src="../../resources/modules/indoorlocation/index.js"></script>
</head>
<body>
<ol class="breadcrumb">
    <li><a href="#">室内定位</a></li>
    <li class="active">三角定位</li>
</ol>

<div class="container">
    <div class="row">
        <div id="change_n" style="height: 400px" class="col-lg-12"></div>
    </div>
    <div class="row">
        <div id="change_A" style="height: 400px" class="col-lg-12"></div>
    </div>
</div>

</body>
</html>